<div class="card">
  <div class="card-header">
    <span class="card-title"
      >Letzte Aktualisierung der Daten:
      {{ statisticData.date.calendar() }}</span
    >
  </div>
  <div class="card-content">
    <div class="chart">
      <canvas
        baseChart
        [data]="statisticData.chartData"
        [labels]="statisticData.chartLabel"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="statisticData.chartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
