<ul id="slide-out" class="sidenav" style="transform: translateX(0%)">
  <li>
    <div class="user-view">
      <div class="background">
        <img [src]="backgroundImage" alt="office background image" />
      </div>
      <a href="#user">
        <img class="circle" [src]="userImage" alt="placeholder for user" />
      </a>
      <a href="#name">
        <span class="white-text name">John Doe</span>
      </a>
      <a href="#email">
        <span class="white-text email">john.doe@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="/vue"> <i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li>
    <a href="/angular">Second Link</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Subheader</a>
  </li>
  <li>
    <a class="waves-effect" href="#!">Third Link With Waves</a>
  </li>
</ul>
