<ul id="slide-out" class="sidenav" style="transform: translateX(0%)">
  <li>
    <div class="user-view">
      <div class="background">
        <img [src]="backgroundImage" alt="office background image" />
      </div>
      <a href="#user">
        <img class="circle" [src]="userImage" alt="placeholder for user" />
      </a>
      <a href="#name">
        <span class="black-text name">Michael Eder</span>
      </a>
      <a href="#email">
        <span class="black-text email">Michael.Eder@liwest.at</span>
      </a>
    </div>
  </li>
  <li>
    <a href="/vue">
      <i class="material-icons">coronavirus</i> Corona Austria
    </a>
  </li>
  <li>
    <a href="/vue"> <i class="material-icons">favorite_border</i> Support </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
</ul>
